@using DIMS.Server.Models.Partials
@model DIMS.Server.Models.Tasks.TaskTrackViewModel

@{
    Layout = null;
}

<div class="modal-content">

    <div class="modal-header">
        <h2>Are you sure you want to delete this track?</h2>
    </div>

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrackNote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrackNote)
            </dd>

        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("~/Views/Partials/ModalButtons.cshtml", new ModalButtonViewModel { Value = "Delete", ButtonClass = "danger", Id = Model.UserId })
    }
</div>
