@model DIMS.Server.Models.Tasks.TaskManagePageViewModel

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h2>Are you sure you want to delete this task?</h2>
    </div>

    <div class="modal-body">
        <h4>
            @Html.DisplayFor(model => model.taskViewModel.Name)
        </h4>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.taskViewModel.TaskId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.taskViewModel.TaskId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.taskViewModel.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.taskViewModel.Description)
                </dd>

                <dt>
                    Start date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.taskViewModel.StartDate)
                </dd>

                <dt>
                    Deadline date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.taskViewModel.DeadlineDate)
                </dd>
            </dl>
        </div>

        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
                </div>
            }
        </div>
    </div>
</div>
