@model DIMS.Server.Models.Users.VUserProfileViewModel

<div class="modal-content">
    <div class="modal-header">
        <h2>Are you sure you want to delete this user profile?</h2>

    </div>

    <div class="modal-body">
        <h4>
                    @Html.DisplayFor(model => model.FullName)
        </h4>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MobilePhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MobilePhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direction)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direction)
                </dd>
            </dl>
        </div>

        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
                </div>
            }
        </div>
    </div>
</div>
