@model HIMS.Server.Models.Users.vUserProgressesListViewModel

@{
    ViewBag.Title = "User Progress Page";
}

@for(int i = 0; i < 1; i++)
{
    <h2>
        @Html.DisplayFor(model => model.vUserProfile.FullName)'s progress:
    </h2>
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Task
            </th>
            <th>
                Note
            </th>
            <th>
                Date
            </th>
           

            @foreach (var item in Model.vUserProgresses)
            {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.TaskId)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackDate)
            </td>

        </tr>
        }


        </thead>
    </table>
